#container {
    padding: 5px;
    display: grid;
    grid-template-columns: 10px 1fr 10px 1fr 10px 1fr 10px;
    justify-items: center;
}

#div1 {
    height: 29em;
    display: grid;
    border: solid black 1px;
    grid-column: 2;
    justify-content: center;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 5px 1fr 1fr 5px;
    }
#img_1 {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;

}
#p1 {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
    align-self: stretch;
    
}

#div2 {
    grid-column: 4;
}

#div3 {
    grid-column: 6;
}

